
#container {
    background-color: rgba(51, 135, 214, 0.932);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
  
}
  #learnMoreInfo {
    font-size: 30px;
    padding:90px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: serif
  }

  #tagline {
    font-size: 40px;
  }
