
#landingContainer {
    text-align: left;
  }
  
  #landingTitle {
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-family: serif;
    text-decoration: underline rgb(51, 135, 214);
    margin: 30px;
  }

  #logo {
    color: white;
  }
  
  #landingP {
    font-size: 30px;
    color:rgb(238, 231, 231);
    font-family: serif;
    text-align: left;
    margin: 30px;
    text-decoration: none;
  }

  #loginContainer, #signupContainer, #landingMS {
    background-color: rgba(51, 135, 214, 0.801);
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    grid:center;
  }

  #signupForm, #loginForm {
    margin:60px;
    float:right;
  }

  #signupP {
    color: white;
  }

  #formbutton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:rgba(51, 135, 214, 0.74);
    border:solid white 1px;
    border-radius: 12px;
}

#formbutton:hover {
    background: rgb(21, 101, 175);
}


  