
#loginContainer {
  background-color: rgba(51, 135, 214, 0.932);
  border-radius: 25px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -40%);
  padding:300px;
  }

  #loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -47%);
    font-size: 20px;
  }

  #loginButton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:rgba(51, 135, 214, 0.74);
    border:solid white 1px;
    border-radius: 12px;
}

#loginButton:hover {
    background: rgb(21, 101, 175);
}
