@media(max-width: 765px) {
#loginContainer {
    background-color: rgba(51, 135, 214, 0.952);
    text-align: center;
    border-radius: 25px;
    position: absolute;
 
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
  }

  #signupForm, #loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -47%);
    font-size: 20px;
  }

  #formbutton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:rgba(51, 135, 214, 0.74);
    border:solid white 1px;
    border-radius: 12px;
}

#formbutton:hover {
    background: rgb(21, 101, 175);
}
}