
#profileContainer {
    background-color: rgba(51, 135, 214, 0.966);
    text-align: center;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 50%;
    -ms-transform: translate(-40%, -50%);
    transform: translate(-50%, -10%);
    font-family: serif;
    letter-spacing: 1px;
    border-radius: 25px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

#profiletitle {
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top:50px;
    margin-bottom:30px;
}

#YPP {
    font-size: 25px;
    color: white;
    margin-top:30px;
}

#postsInProfile {
    padding-right:100px;
    padding-left:100px;
    width: 100%;
}

#deleteButton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 135, 214);
    border:solid white 1px;
    border-radius: 12px;
    width: 300px;
    margin-bottom:40px;
    letter-spacing: 2px;
}

#deleteButton:hover {
    background: rgb(21, 101, 175);
}