
#signupContainer {
    background-color: rgba(51, 135, 214, 0.932);
    border-radius: 25px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
    padding:300px;
    display: flex;
    flex-direction: column;
    
}

#signupForm {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
    font-size: 20px;
}

#signupP {
    color: white;
  }

#signupButton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:rgba(51, 135, 214, 0.74);
    border:solid white 1px;
    border-radius: 12px;
}
#signupButton:hover {
    background: rgb(21, 101, 175);
}

#postButton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:rgba(51, 135, 214, 0.74);
    border:solid white 1px;
    border-radius: 12px;
    width: 300px;
    margin-bottom:25px;
    letter-spacing: 2px;
}

#postButton:hover {
    background: rgb(21, 101, 175);
}

#postYourRequest {
    margin-top: 40px;
    margin-bottom: 40px;

}

#formInfo {
    margin-bottom:20px;
    padding:30px;
    width:800px;
}
