.container {
    background-color: rgba(51, 135, 214, 0.932);
    text-align: center;
    align-items: center;
    font-family: serif;
    padding:50px;
    border-radius: 25px;
    letter-spacing: 1px;
}

.link {
    border: 1px solid rgb(0, 0, 0, 0);
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.432);
    color: white;
    padding: 5px
}

#volunteerText {
    font-size: 25px;
    margin:30px;
}

#volunteerButton {
    padding:15px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color:rgba(51, 135, 214, 0.74);
    border:solid white 1px;
    border-radius: 12px;
    letter-spacing: 2px;
    width: 300px;
}
#volunteerButton:hover {
    background: rgb(21, 101, 175);
}