
#postsBorder {
    border: solid white 2px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:30px;
    width: 800px;
}

#title {
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
}


#username {
    font-size: 20px;
    padding-left:20px;
    padding-top: 20px;
    color: black;
    float: left;
    
}

#description {
    color: white;
    padding-bottom: 30px;
    font-size: 20px;
}

.helpButton {
    padding:10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: rgb(21, 101, 175);
    border:solid white 1px;
    border-radius: 12px;
    width: 300px;
    margin-bottom:25px;
    letter-spacing: 2px;
}
#helpButton:hover {
    background: rgb(21, 101, 175);
}